@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
 //@include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
//@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
//@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;


@font-face {
    font-family: 'primary';
    src: url('../fonts/contax_sans_55-webfont.eot');
    src: url('../fonts/contax_sans_55-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/contax_sans_55-webfont.woff2') format('woff2'),
         url('../fonts/contax_sans_55-webfont.woff') format('woff'),
         url('../fonts/contax_sans_55-webfont.ttf') format('truetype'),
         url('../fonts/contax_sans_55-webfont.svg#contax_sans55_regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@-webkit-keyframes pulsate1 {
	0% {
	  -webkit-transform: scale(0.6);
	  transform: scale(0.6);
	  opacity: 1;
	  box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
	}
	100% {
	  -webkit-transform: scale(1);
	  transform: scale(1);
	  opacity: 0;
	  box-shadow: none;
  
	}
}
@keyframes pulsate1 {
	0% {
	  -webkit-transform: scale(0.6);
	  transform: scale(0.6);
	  opacity: 1;
	  box-shadow: inset 0px 0px 25px 3px rgba(255, 255, 255, 0.75), 0px 0px 25px 10px rgba(255, 255, 255, 0.75);
	}
	100% {
	  -webkit-transform: scale(1, 1);
	  transform: scale(1);
	  opacity: 0;
	  box-shadow: none;
	}
}
@keyframes rotation {
	from {
	  transform: rotate(0deg);
	}
	to {
	  transform: rotate(359deg);
	}
}


body {
	background-image: url(../img/bg2.jpg);
	background-attachment: fixed;
	background-size: cover;
	&.overflow {
		overflow: hidden;
	}
}

a {
	transition: .2s all;
}

.logo-mobile {
	width: 225px;
	top: 20px;
    position: relative;
    left: 11px;
}

.header {
	width: 100%;
	position: absolute;
	padding: 20px 0;
	@include breakpoint (small only) {
		position: static;
	}
	.logo {
		@include breakpoint (small only) {
			width: 225px;
		}
	}
	nav {
		margin-top: 14px;
		ul {
			margin: 0;
		}
		li {
			display: inline-block;
			margin-left: 30px;
			&.current-menu-item {
				a {
					color: $primary-color;
				}
			}
		}
		a {
			color: $white;
			&:hover {
				color: $primary-color;
			}
		}
	}
}

.section-home {
	padding-top: 60px;
	.grid-x {
		@include breakpoint (medium) {
			height: calc(100vh - 60px);
		}
	}
	h1 {
		color: $white;
	}
	h2 {
		@include breakpoint (small only) {
			margin-top: 15px;
			font-size: 32px;
			color: $primary-color;
		}
	}
	h6 {
		margin: 0;
		color: $primary-color;
		transition: .2s all;
	}
	h5 {
		margin: 0;
		color: $white;
		transition: .2s all;
	}
	i {
		font-size: 24px;
		color: $primary-color;
	}
	figure {
		position: relative;
		@include breakpoint (small only) {
			margin-top: 50px;
		}
		.play-button-wrapper {
			width: 100%; 
			position: absolute;
			top: 28%;
		}
	}
	.learn-more {
		margin-top: 80px;
		cursor: pointer;
		&:hover {
			h5 {
				color: $primary-color;
			}
			h6 {
				color: $white;
			}
			i {
				color: $white;
			}
		}
	}
	.play-button {
		width: 100px;
		height: 100px;
		margin: 0 auto;
		background: radial-gradient( rgba($primary-color, 0) 60%, rgba(255, 255, 255, 1) 62%);
		border-radius: 50%;
		position: relative;
		display: block;
		margin: 100px auto;
		box-shadow: 0px 0px 25px 3px rgba($white, 0.8);
		cursor: pointer;
		&:after {
			content: "";
			position: absolute;
			left: 50%;
			top: 50%;
			-webkit-transform: translateX(-40%) translateY(-50%);
			transform: translateX(-40%) translateY(-50%);
			transform-origin: center center;
			width: 0;
			height: 0;
			border-top: 15px solid transparent;
			border-bottom: 15px solid transparent;
			border-left: 25px solid #fff;
			z-index: 2;
			-webkit-transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
			transition: all 400ms cubic-bezier(0.55, 0.055, 0.675, 0.19);
		}
		&:before {
			content: "";
			position: absolute;
			width: 150%;
			height: 150%;
			-webkit-animation-delay: 0s;
			animation-delay: 0s;
			-webkit-animation: pulsate1 2s;
			animation: pulsate1 2s;
			-webkit-animation-direction: forwards;
			animation-direction: forwards;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-timing-function: steps;
			animation-timing-function: steps;
			opacity: 1;
			border-radius: 50%;
			border: 5px solid rgba(255, 255, 255, .75);
			top: -27%;
			left: -26%;
			background: rgba(198, 16, 0, 0);
		}
	}
}
.video-overlay {
	background: $black;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: .5s all;
	z-index: -1;
	opacity: 0;
	&.open {
		opacity: 1;
		z-index: 9999;
	}
	.inner {
		background: #fff;
		box-shadow: 0 0 30px 0 rgba(0,0,0,0.4);
	    margin: 0 auto;
		@include breakpoint (small only) {
			margin-top: 50%;
		}
	    video {
	    	object-fit: cover;
	    	object-position: center;
	    	width: 100%;
	    	height: 100%;
	    }
		.close-button {
	        position: absolute;
		    top: 0;
		    right: 0;
		    width: 52px;
		    height: 42px;
		    line-height: 42px;
		    text-align: center;
		    color: $white;
		    font-size: 52px;
		    cursor: pointer;
		    transition: 0.2s all;
		    z-index: 2;
		    &:hover {
		    	color: $primary-color;
		    }
		}
	}
}


.section-experience {
	padding-top: 60px;
	.grid-x {
		height: calc(100vh - 60px);
		@include breakpoint (small only) {
			height: auto;
		}
	}
	.swiper {
		height: 100%;
	}
	h1 {
		font-size: 72px;
		color: $primary-color;
		position: relative;
		top: -53px;

	}
	.slide-image {
		display: block;
		max-width: 80%;
		margin: 0 auto;
		margin-top: 50px;
		@include breakpoint (small only) {
			max-width: 100%;
		}
	}
	.slide-decor {
		width: 240px;
		position: absolute;
		top: 0;
		right: 0;
		animation: rotation 200s infinite linear;
		@include breakpoint (small only) {
			top: -10px;
			right: -80px;
		}
	}
	h2 {
		color: $primary-color;
	}
	p {
		color: $white;
	}
}
  

.hero-section {
	.content {
		min-height: calc(100vh - 108px);
		display: flex;
		flex-direction: column;
		justify-content: center;
		.socials {
			margin-top: 20px;
			display: flex;
			a {
				width: 30px;
				margin-right: 20px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
		@include breakpoint (small only) {
			min-height: auto;
			align-items: center;
			text-align: center;
			margin-bottom: 30px;
		}
	}
	.form-holder {
		min-height: calc(100vh - 108px);
		display: flex;
		align-items: center;
		@include breakpoint (small only) {
			min-height: auto;
		}
		.nf-form-cont {
			width: 100%;
		}
		.nf-before-form-content {
			display: none;
		}
		.nf-form-content .list-select-wrap .nf-field-element>div, .nf-form-content input:not([type=button]), .nf-form-content textarea  {
		    background: transparent;
		    color: #fff;
		    border-color: $primary-color;
		}
		.nf-form-content button, .nf-form-content input[type=button], .nf-form-content input[type=submit] {
			color: #fff;
			line-height: 1;
			padding: 10px 20px;
			background: $primary-color;
			width: auto;
			height: auto;
			float: right;
			font-size: 18px;
			&:hover {
				background: darken($primary-color, 5%);
			}
		}
		textarea {
			height: 100px;
		}
		.nf-field-label {
			label {
				color: #Fff;
			}
		}
	}
}


.section-location {
	padding-top: 60px;
	@include breakpoint (small only) {
		padding-top: 0;
	}
	.grid-x.align-middle {
		height: calc(100vh - 60px);
	}
	h1 {
		margin-bottom: 20px;
	}
	.map {
		height: 70vh;
	}
	.location-description {
		padding: 30px;
		background: rgba($white, 0.2);
		color: $white;
		@include breakpoint (medium) {
			height: 70vh;
		}
	}
	.lat-long {
		margin-top: 30px;
	}
}

 
.section-contact {
	height: calc(100vh - 60px);
	padding-top: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	@include breakpoint (small only) {
		height: auto;
		padding-top: 0;
	}
	.container-wrapper {
		width: 100%;
		height: 70vh;
	}
	.contact-inner {
		padding: 50px 30px;
		background: rgba($white, 0.1);
		backdrop-filter: blur(5px);
		color: $white;
		@include breakpoint (small only) {
			padding: 50px 15px;
		}
	}
	p {
		margin-bottom: 20px;
		i {
			width: 40px;
			font-size: 20px;
			text-align: center;
			color: $primary-color;
		}
	}
	.socials {
		margin-top: 50px;
		@include breakpoint (small only) {
			margin-top: 0;
		}
		a {
			margin: 0 7px;
			font-size: 30px;
			&:hover {
				color: $white;
			}
		}
	}
	.form-wrapper {
		padding: 120px 80px 50px 80px;
		background: url(../img/form.png) no-repeat;
		background-size: 100% auto;
		@include breakpoint (small only) {
			margin-top: 50px;
			padding: 0;
			background: none;
		}
		#ninja_forms_required_items, 
		.nf-field-container {
			margin-bottom: 15px;	
		}
		.nf-field-label {
			display: none;
		}
		.nf-form-fields-required {
			display: none;
		}
		label {
			color: $white;
		}
		.nf-error.field-wrap .nf-field-element:after {
			display: none !important;
			height: 43px;
			font-size: 12px;
			line-height: 44px;
			border-radius: 0 7px 7px 0;
		}
		.nf-error-msg {
			color: $white;
			font-size: 12px;
		}
		input[type="text"],
		input[type="email"],
		input[type="tel"] {
			height: 45px;
			border: 1px solid $primary-color;
			background: none;
			border-radius: 10px;
			box-shadow: none;
		}
		.nf-form-content textarea.ninja-forms-field {
			height: 120px;
			border: 1px solid $primary-color;
			background: none;
			border-radius: 10px;
			box-shadow: none;
		}
		input[type="submit"] {
			margin: 0;
			border-radius: 10px;
			@include breakpoint (small only) {
				width: 100%;
			}
		}
	}
}


#mobile-overlay-button {
	position: absolute;
	right: 0;
	top: 17px;
	padding: 26px 11px;
	z-index: 5;
	cursor: pointer;
	user-select: none;
	z-index: 999;
	span {
		height: 4px;
		width: 35px;
		border-radius: 2px;
		background-color: white;
		position: relative;
		display: block;
		transition: all .2s ease-in-out;
		&:before {
			top: -10px;
			visibility: visible;
		}
		&:after {
			top: 10px;
		}
		&:before, 
		&:after {
			height: 4px;
			width: 35px;
			border-radius: 2px;
			background-color: white;
			position: absolute;
			content: "";
			transition: all .2s ease-in-out;
		}
	}
	&:hover span, 
	&:hover span:before, 
	&:hover span:after {
		background: $black;
	}
}
  
#overlay-input {
	display: none;
}

#overlay-input:checked ~ #mobile-overlay {
	visibility: visible;
}
  
#overlay-input:checked ~ #mobile-overlay-button {
	&:hover span, span {
		background: transparent;
	}
	span {
		&:before {
			transform: rotate(45deg) translate(7px, 7px);
			opacity: 1;
		}
		&:after {
			transform: rotate(-45deg) translate(7px, -7px);
		}
	}
}
  
.mobile-overlay {
	background: $white;
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transition: .5s all;
	z-index: -1;
	opacity: 0;
	&.active {
		opacity: 1;
		z-index: 99;
	}
	ul {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
		height: calc(100vh - 91px);
		margin: 0;
		padding-left: 0;
		list-style-type: none;
		li {
			padding: 1em;
			a {
			color: $black;
			text-decoration: none;
			font-size: 1.5em;
			&:hover {
				color: #333332;
			}
			}
		}
	}
}
  


.preloader {
	align-items: center;
	background: rgb(23, 22, 22);
	display: flex;
	height: 100vh;
	justify-content: center;
	left: 0;
	position: fixed;
	top: 0;
	transition: opacity 1.2s linear;
	width: 100%;
	z-index: 9999;
	opacity: 1;
	&.hide-preloader {
		opacity: 0;
	}
}